<%= render :partial => "views/base/top", :locals => {:bodyClass => false} %>
<div class="wrapper review-list">
    <header class="header header_fixed">
        <div class="clearfix">
            <a href="javascript:void(0);" class="ico-arr-l pull-left"></a>
            <a href="javascript:void(0);" class="show-on-map pull-right">+</a>

            <h2>
                Dmitry Kornushin
                <span class="header-sub-title">отзывы</span>
            </h2>
        </div>
    </header>
    <div class="list-wrapper">
        <div class="list__header">
            <h2 class="list-title">Dmitry’s choise</h2>

            <div class="list-tabs">
                <a class="active" href="javascript:void(0);">Best</a>
                <a href="javascript:void(0);">Most popular</a>
            </div>
        </div>
        <div class="list">
            <% (1..3).each do |n| %>
                <div class="list__item">
                    <div class="list__item__main">
                        <i class="list-counter">#<%= n %></i>
                        <%= image_tag(lorem_image("125x90")) %>

                        <div class="list__item__info">
                            <h2 class="list__item__title">
                                Bartolomeo
                                <span class="list__item__distance">5 км</span>
                            </h2>

                            <div class="list__item__address">
                                <p>ул. наб. Победы, 9Б,</p>

                                <p>Днепропетровск,</p>

                                <p>Днепропетровская обл</p>
                            </div>

                            <div class="list__item__rate">
                                <div class="rate pull-left"><i style="width:20%"></i></div>
                                <span class="list__item__rate__info pull-right">9.0 из 10</span>
                            </div>

                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="list-review">
        <h2 class="list-title">1 Review</h2>

        <div class="list__item">
            <div class="list__item__main">
                <%= image_tag(lorem_image("125x90")) %>

                <div class="list__item__info">
                    <h2 class="list__item__title">
                        Bartolomeo
                    </h2>

                    <div class="list__item__address">
                        <p>13.06.12</p>

                        <p>Romantic</p>

                        <p>Dinner</p>

                        <p class="list__item__address-red">Завоеватель</p>
                    </div>
                    <a class="ico-arr-r" href="javascript:void(0);"></a>
                </div>
            </div>
        </div>
        <div class="list-review-info">
            <div class="pull-left">
                <div class="list-review-info-row">
                    <div class="rate"><i style="width: 40%;"></i></div>
                    <h4>Food</h4>
                </div>
                <div class="list-review-info-row">
                    <div class="rate"><i style="width: 40%;"></i></div>
                    <h4>Service</h4>
                </div>
                <div class="list-review-info-row">
                    <div class="rate"><i style="width: 40%;"></i></div>
                    <h4>Interior design</h4>
                </div>
                <div class="list-review-info-row">
                    <div class="rate"><i style="width: 40%;"></i></div>
                    <h4>Athmospheare</h4>
                </div>
                <div class="list-review-info-row">
                    <div class="rate"><i style="width: 40%;"></i></div>
                    <h4>Cleanliness</h4>
                </div>
                <div class="list-review-info-row">
                    <div class="rate"><i style="width: 40%;"></i></div>
                    <h4>Price-Quality</h4>
                </div>
            </div>
            <div class="pull-right">
                <div class="review-details">
                    <h3>Overall</h3>
                    <h4>9.5</h4>
                    <table>
                        <tr>
                            <td>

                                waiting <br>
                                time:
                            </td>
                            <td>
                                FAST
                            </td>
                        </tr>
                        <tr>
                            <td>

                                noise <br>
                                level:
                            </td>
                            <td>
                                <i class="ico-noise2"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="not-float_bottom">
        <a class="btn btn_red" href="javascript:void(0);"><i class="ico-hint"></i>Hint</a>
    </div>
</div>
<%= render :partial => "views/base/bottom" %>



